@charset "utf-8";
/* CSS Document */

/* 默认公用样式 */
#container {float:left;width:150px;margin:0;padding:0;height:auto;overflow:hidden;}
.title {float:left;width:150px;height:35px;background:url(../images/leftbotton01.gif) no-repeat;font-size:14px;font-weight:bold;text-indent:30px;line-height:29px;color:#000;
}
.title a {float:left;width:100%;color:#000;}
.title a.link {float:left;width:100%;color:#000;}
.title a.visited {float:left;width:100%;color:#000;}
.title a.hover {float:left;width:100%;color:#ff6600;}

.content{float:left;width:150px;margin:0;padding:0;}
.content li{float:left;width:100%;height:26px;background:url(../images/leftbotton02.gif);font-size:12px;text-indent:35px;line-height:26px;font-weight:normal;}


.content li.show{float:left;width:100%;height:26px;background:url(../images/leftbotton02-2.gif);font-size:12px;text-indent:35px;line-height:26px;font-weight:normal;}
.content li.show a{float:left;width:100%;height:26px;font-size:12px;line-height:26px;font-weight:normal;color:#000;}
.content li.show a:link{float:left;width:100%;height:26px;font-size:12px;line-height:26px;font-weight:normal;color:#000;}
.content li.show a:visited{float:left;width:100%;height:26px;font-size:12px;line-height:26px;font-weight:normal;color:#000;}
.content li.show a:hover{float:left;width:100%;height:26px;font-size:12px;line-height:26px;font-weight:normal;color:#000;background:url(../images/leftbotton02-2.gif);}