BODY {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: ????; COLOR: #000000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
DIV {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
FORM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
OL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
SPAN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
P {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
A IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
TABLE {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
TABLE {
	MARGIN: 0px auto
}
A {
	COLOR: #000000; TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #000000
}

#biaoge IMG {
	DISPLAY: block
}
#biaoge A {
	TEXT-DECORATION: none
}

.biaoge1 {
	MARGIN: 2px; FLOAT: left
}
.biaogeimg {
	BORDER-BOTTOM: #085c98 1px solid; BORDER-LEFT: #085c98 1px solid; WIDTH: 94px; HEIGHT: 94px; BORDER-TOP: #085c98 1px solid; BORDER-RIGHT: #085c98 1px solid
}
.biaogeimg IMG {
	MARGIN: 2px; WIDTH: 90px; HEIGHT: 90px
}
.biaogetxt {
	TEXT-ALIGN: center; LINE-HEIGHT: 14px; MARGIN: 5px; WIDTH: 86px; HEIGHT: 28px; COLOR: #000000; FONT-SIZE: 12px; OVERFLOW: hidden; WORD-BREAK: break-all
}
.biaogetxt A {
	TEXT-ALIGN: center; WIDTH: 86px; COLOR: #000000; FONT-SIZE: 12px
}
#biaoge_logo {
	MARGIN: 0px; WIDTH: 164px; FLOAT: left; HEIGHT: 654px; OVERFLOW: hidden
}
#biaoge_logo IMG {
	DISPLAY: block
}
#biaoge_logo1 {
	MARGIN: 0px; WIDTH: 164px; FLOAT: left
}
#biaoge_logo2 {
	MARGIN: 0px; WIDTH: 164px; FLOAT: left
}
.biaoge2 {
	MARGIN: 2px; FLOAT: left
}
.biaoge2img {
	BORDER-BOTTOM: #085c98 1px solid; BORDER-LEFT: #085c98 1px solid; WIDTH: 158px; HEIGHT: 56px; BORDER-TOP: #085c98 1px solid; BORDER-RIGHT: #085c98 1px solid
}
.biaoge2img IMG {
	MARGIN: 2px; WIDTH: 145px; HEIGHT: 50px
}
#r_top4_txt {
	LINE-HEIGHT: 24px; WIDTH: 270px; FLOAT: left; HEIGHT: 120px; OVERFLOW: hidden
}
#r_top4_txt P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#r_top4_txt A {
	COLOR: #000000; FONT-WEIGHT: bold
}
#r_top4_txt1 {
	MARGIN: 0px; WIDTH: 270px; FLOAT: left
}
#r_top4_txt2 {
	MARGIN: 0px; WIDTH: 270px; FLOAT: left
}
.logo_txt {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 22px; WIDTH: 78px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #0c4175; CLEAR: both; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.logo1 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; WIDTH: 270px; PADDING-RIGHT: 0px; FLOAT: left; CLEAR: both; PADDING-TOP: 0px
}
